﻿@import url('nanumsquare.css');

*{margin:0;padding:0;box-sizing: border-box;}
html,body{width:100%;height:100%;font-size:2.95vw;font-family: 'NanumSquare', sans-serif;color:#6F6F6F;}
body {-webkit-text-size-adjust:100%;}
a{text-decoration:none;}
li{list-style: none;}
button{border:none;cursor:pointer;font-size:1rem;}
table{width:100%;border-collapse:collapse;border-spacing:0;table-layout: fixed;}

/*common*/
.coin_type,
.min{text-transform: uppercase;color: #707070;font-size: 0.85em;}
.coin_type:before,
.min:before{content:"(";}
.coin_type:after,
.min:after{content:")";}
button .coin_type:before,
button .coin_type:after{content:"";}


/*text-box*/
.article {margin-top:2rem;}
.article label{color:rgba(0,0,0,.6);font-size: 0.9rem;}
.article input{outline:none;width:100%;padding:10px;background-color:transparent;border:none;border-bottom:1px solid #707070;color:#707070;font-size: 1.1rem;}

/*title*/
.title{position:relative;width:100%;height:3.5rem;padding-left:20px;font-size: 1.2rem;color:#202020;line-height: 3.5rem;}
.title:after{content:"";display:block;position:absolute;top:50%;left:0;width:4px;height:16px;margin-top:-8px;background-color: #707070;}

/*ellipsis*/
.ellipsis{overflow: hidden;;text-overflow: ellipsis;white-space: nowrap;;}

/*float*/
.floatLeft{float:left;}
.floatRight{float:right;}

/*text-align*/
.text_left{text-align:left !important;}
.text_right{text-align:right !important;}
.text_center{text-align:center !important;}

/*font-size*/
.FS07 {font-size:0.7em !important;}
.FS08 {font-size:0.8em !important;}
.FS09 {font-size:0.9em !important;}
.FS1 {font-size:1em !important;}
.FS11 {font-size:1.1em !important;}
.FS12 {font-size:1.2em !important;}
.FS15 {font-size:1.5em !important;}

/*font-color*/
.b{color:#222;font-weight:600;}
.r{color:red !important;}

/*padding*/
.ptzero{padding-top: 0 !important;}
.pbzero{padding-bottom:0 !important;}
.plzero {padding-left:0 !important;}
.przero {padding-right:0 !important;}
.pAzero {padding-left:0  !important;padding-right:0 !important;}
.pl15 {padding-left:15px !important;}
.pl20 {padding-left:20px !important;}
.pr10 {padding-right:10px !important;}
.pr20 {padding-right:20px !important;}

/*margin*/
.mbzero{margin-bottom:0 !important;}

/*vertical-align*/
.cover{display:table;width:100%;height:100%;}
.cover_inner{display: table-cell;vertical-align: middle;}

/*button*/
button{background-color: transparent;border:none;}
button .coin_type{color:inherit;}/*2차*/
.btn-box{padding:1.5rem;}
.btn_basic_radius{width:140px;height:48px;margin-top:2rem;border-radius: 2rem;font-size: 1.2rem;box-shadow: 3px 3px 8px 4px rgba(0,0,0,.1);}
.btn_basic_radius.big{width:180px;}
.btn_color01{background-color:#09A7B4;color:#fff;}
.btn_txt_color01{color:#09A7B4 !important;background-color: transparent !important;}
.btn_txt_color02{color:#4B26A0 !important;background-color: transparent !important;}
.btn_basic{width:120px;height:36px;background-color:#eeeeee;color:#707070;line-height:36px;border-radius:30px;}
.btn_basic:hover{background-color:#e8e8e8;}
.btn_basic.small {height:30px;margin-bottom:5px;line-height: 30px;}
.btn_wide{width:80%;}
.btn_bg_gray{background-color: #707070 !important;color:#ffffff !important;}
.btn_bg_color01{background-color:#4B26A0 !important;color:#ffffff !important;}
.btn_bg_color01:hover{background-color:#452491;}
.btn_bg_color01.reverse,
.btn_bg_color01.reverse:hover{background-color:#ffffff;border:1px solid #4B26A0; color:#707070;}
.btn_bg_color02{background-color:#09A7B4 !important;color:#ffffff !important;}
.btn_bg_color02:hover{background-color:#0c8f9a !important;}
.btn_bg_color03{background-color:#F3007A !important;color:#ffffff !important;}

.btn-big-round{min-width:140px;height:3.4rem;padding:0 2rem;border-radius: 1.7rem;font-size: 1.2rem;}
.btn-basic{}
.btn-mini{padding:0.5rem;font-size: 0.9rem;}
.btn_search{width:100%;height:3.4rem;border-radius:4px;line-height: 3.4rem;font-size: 1.2rem;}


/*alert_wrap*/
.alert_wrap{position: fixed;top:0;right:0;bottom:0;left:0;background-color: rgba(0,0,0,.75);z-index: 10;}
.alert_wrap .alert{position: absolute;top:50%;left:10%;right:10%;background-color: #fff;transform: translateY(-50%);}
.alert_wrap .alert .head{padding-top:1rem;text-align: center;font-size: 1rem;line-height: 2.5rem;}
.alert_wrap .alert .contents{padding: 1rem 2rem;line-height: 1.6;font-size: 0.9rem;}
.alert_wrap .alert .foot{padding: 1rem;margin-right:-2.5%; margin-left:-2.5%; text-align: center;;}
.alert_wrap .alert .foot button{width:45%;padding: 0.5rem; margin:0 2.5%;}
.alert_wrap .alert .close{position:relative;top:0;right:0;bottom:0;left:0;height:auto;}


/*header*/
.header{background:linear-gradient(-135deg, #7B1FA2 25%,#09a7b4 100%);}
.header .coin_type{display:block;}
.header .lnb{position:relative;height:5rem;}
.header .lnb .logo{position:absolute;top:1.5681rem;right:4.7rem;bottom:0;left:4.7rem;text-align: center;}
.header .lnb .logo img{width:auto;height:100%;padding-bottom:1rem;}
.header .lnb .icon{position:absolute;top:1.9rem;}
.header .lnb .icon.icon1{left:0;}
.header .lnb .icon.icon2{right:0;}
.header .lnb .icon img{width:5.5rem;padding:0rem 1.8181rem;}
.header .simple_notice{width:100%;height:3rem;padding:0 1rem;background-color: #E4E4E4;line-height: 3rem;font-size: 1rem;color:#707070;}
.header .simple_notice a{display:block;color:#222;}

.header .menu{display:none;position:fixed;top:8rem;right:0;bottom: 0;left: 0;background-color:#fff;text-align: center;z-index:9999;}
.header .menu h2{margin-bottom:4rem;font-size: 2.3rem;color:#4B26A0;}
.header .menu h2 span{display:block;margin-top:10px;font-size: 1.3rem;color:#707070;}
.header .menu ul{}
.header .menu ul li{margin-bottom:1REM;}
.header .menu ul li:last-child{margin-bottom:0;}
.header .menu ul li a{display:block;padding:10px 0;color:#202020;font-size: 1.3rem;}

.header .user{display:none;position:fixed;top:0px;right:0;bottom: 0;left: 0;z-index:9999;background-color:#4b26a0;}
.header .user .info{position:absolute;top:0;right:0;bottom:20.4rem;left:0;padding:1.5rem 2rem;background-color:#4B26A0;color:#fff;}
.header .user .info .title{color:#fff;}
.header .user .info .title:after{background-color: #fff;}

.header .user .info .assets_data{position: absolute;right:1.5rem;bottom:1rem;left:1.5rem;}
.header .user .info .simple_assets{padding:2rem 0;font-size: 1rem;}
.header .user .info .simple_assets:after{content:"";display: block;clear: both;}
.header .user .info .simple_assets .coin_type{color:rgba(255,255,255,.8);}
.header .user .info .name{position:absolute;top:50%;top:50%;right:0;left:0;font-size: 0.8rem;text-align:center;line-height: 1.6;transform: translateY(-50%);}
.header .user .info .name .photo{width:4rem;height:4rem;margin:0 auto 1rem;background-color: #fff;border-radius: 50%;}
.header .user .info .name span{display: block;font-size: 1.5rem;}

.header .user .notice{position:absolute;right:0;bottom:4rem;left:0;}
.header .user .notice .shortcut{position:relative;height:4.7rem;padding:0 1.5rem;background-color:#fff;background-image: url(../images/header/pageArrow.svg);background-size:10px;background-repeat:no-repeat;background-position:right 2rem center;font-weight: 700;font-size: 1rem;line-height: 4.7rem;color:#707070;box-shadow:0px 0px 2px 3px rgba(0,0,0,0.1);}
.header .user .notice ul{padding:1rem 1.5rem;background-color: #F2F2F2;}
.header .user .notice ul li{height:1.7rem;padding:0.3rem 0;margin-bottom:5px;font-size: 1rem;line-height: 1.2;}
.header .user .notice ul li:last-child{margin-bottom:0;}
.header .user .notice ul li a{display:block;color: #202020;}
.header .user .logout{position:absolute;right:0;bottom:0px;left:0;height:4rem;text-align: center;}
.header .user .logout a{display:block;height:100%;background-color: #431C60;color:#fff;font-size: 1rem;line-height: 4rem;text-transform:uppercase;}

.close{position:absolute;top:1.5rem;right:0;width:4.7rem;height:3.5rem;padding:1rem 1.5rem;background-size:1.4rem;background-repeat:no-repeat;background-position:center;z-index: 1;}
.close.w{background-image: url(../images/header/close_w.svg);}
.close.b{background-image: url(../images/header/close_b.svg);}



/*login*/
.wrap.login{width:100%;height:100vh;background:linear-gradient(-135deg, #7B1FA2 25%,#09a7b4 100%);}
.wrap.login .section{padding:0 2rem;}
.wrap.login .logo{text-align: center;}
.wrap.login .logo img{width:55%;}

.wrap.login .article {}
.wrap.login .article label{color:rgba(255,255,255,.5);}
.wrap.login .article input{border-bottom-color:#fff;color:#fff;}

.wrap.login .caption{}
.wrap.login .caption:after{content:"";display: block;clear: both;}
.wrap.login .caption a{padding:10px 0;color:rgba(255,255,255,.5);font-size: 0.9rem;}


/*login 수정후*/
.wrap.login .login_box{position:relative;margin-top:2rem;padding-top: 3.5rem;}
.wrap.login .tab_tit{position:absolute;top:0;left:0;width:50%;height:3.5rem;border-top-left-radius:0.5rem;border-top-right-radius:0.5rem;line-height:3.5rem;text-align:center;font-size: 1.2rem;}
.wrap.login .tab_tit{background-color: #4B26A0;color:#fff;}
.wrap.login .tab_tit.active{background-color: #fff;color:#222;}
.wrap.login .tab_con{min-height:1rem;padding:3rem 1rem 2rem;border-bottom-left-radius:0.5rem;border-bottom-right-radius:0.5rem;background-color: #fff;}
.wrap.login .article {}
.wrap.login .article label{color:#222;}
.wrap.login .article input{border-bottom-color:#707070;color:#707070;}
.wrap.login .caption a{padding:10px 0;color:#707070;font-size: 0.9rem;}

.wrap.login .article:first-child{margin-top:0;}
.wrap.login .btn-box{padding-bottom: 0;}

/*section - common*/
.section{position:relative;padding:1.5rem 1rem;}
.page-title{position:relative;padding-left:1rem;font-size: 1.3rem; color:#202020;font-weight: normal;}
.page-title:before{content:"";display:block;position:absolute;top:0;left:0;width:4px;height:1.3rem;background-color: #202020;}
.input-wrap{margin-top:5rem;}
.input-box{position:relative;margin-bottom: 3rem;padding-top:2rem;border-bottom:1px solid #707070;}margin-top:2rem;
.input-box.mb0{margin-bottom:0;}
.input-box label:not(.input){position:absolute;top:0;left:0;font-size: 0.9rem;color:#222;}/*2차 수정.*/
.input-box input.block{width:100%;}
.input-box input[type=text],
.input-box input[type=password]{height:2.5rem;padding:1rem 3.5rem 1rem 1rem;border:none;background-color:#fff;font-size:1.1rem;color:#707070;}/*2차 수정.*/
.input-box>div:not(.table){padding:1rem 4px;border:none;background-color:#fff;font-size:0.9rem;color:#707070;}/*2차 수정.*/
.input-box>div.read-only{background-color:#eee;}/*2차 수정.*/
.input-box input[type=text]:disabled{background-color:#E4E4E4;color:#202020;}
.input-box input+button{position:absolute;right:0;bottom:5px;padding:0.3rem;font-size: 1rem;}
/*2차*/
.input-box .caution{position:absolute;right:0;bottom:-1.5rem;padding:0 !important;font-size: 0.9rem !important;}
.input-box .table{padding-top:2rem;}
.input-box .table table{border-top:1px solid #707070;}
.input-box .table tbody td{height:2.5rem;padding:0 1rem;border:none; background-color:#fff;font-size:0.9rem;color:#707070;}
.input-box .table tbody tr:not(:last-child) td{border-bottom:1px solid #707070;}
.input-box .table tbody tr td:first-child{background-color: #E4E4E4; color:#222222;}

/*2차*/
.caution{margin-top:1rem;font-size:0.9rem;color:red;line-height:1.4;}

/*2차*/
.pre{margin-top:1.75rem;background-color: #F2F2F2;}
.pre p,
.pre ul{padding:0.9rem;background-color: #F2F2F2;font-size: 0.9rem;line-height: 1.8;color:#202020;}
.pre span{color:#202020;}
.pre .bold{font-weight: bold;}
.pre .underline{text-decoration: underline;}
.pre ul li{}
.pre ul li:after{content:"";display:block;clear:both;}

.table_section{margin-top:1.24rem;}
.table_date_wrap{padding:0.4rem 0;}
.table_date_wrap:after{content:"";display: block;clear: both;}
.table_date{padding:0.5rem 0;font-size: 1.1rem;color:#202020;}
.table_wrap{overflow-x:scroll;border-top:3px solid #6156A3;}
.table_wrap.notOver{margin-right:0;}
.table_wrap .pre{margin-top:0;padding:0.4rem 0.9rem;}
.table_wrap .pre p{padding:0.2rem 0rem;}

.table_wrap table *{color:#202020;font-size:0.9rem;}
.table_wrap table button{padding:.3rem;color:#fff;}

.table_wrap table .coin_type,
.table_wrap table .min{display: block;}
.table_wrap th,
.table_wrap td{border-bottom:1px solid #E4E4E4;}
.table_wrap table tbody td,
.table_wrap table tfoot td,
.table_wrap table tfoot th{height:2.6rem;padding:0 0.4rem;}
.table_wrap table{}
.table_wrap table thead{}
.table_wrap table thead th{padding:0.8rem 0.4rem;background-color:#F2F2F2;}
.table_wrap.row2 table thead tr:nth-child(odd) th:first-child{border-right:1px solid #e4e4e4;}
.table_wrap.row2 table thead tr:nth-child(odd) th{border-color:#e4e4e4;}
.table_wrap table tbody{}
.table_wrap table tbody td{}
.table_wrap.row2 table tbody tr:nth-child(odd) td:first-child{border-right:1px solid #eee;}
.table_wrap.row2 table tbody tr:nth-child(odd) td{border-color:#eee;}
.table_wrap table tfoot{}
.table_wrap table tfoot th,
.table_wrap table tfoot td{background-color:#F2F2F2;font-weight: normal;}

/*section - main*/
#main{padding-top:0;}
#main .info{display:flex;margin-top:1.24rem;padding:1rem 0;background-color:#431C60;border-radius:4px;color:#fff;font-size: 0.9rem;}
#main .info .column{width:100%;padding:0 1rem;}
#main .info .column:not(:last-child){border-right:1px solid #fff;}
#main .info .column:after{content:"";display:block;clear:both;}
#main .info .name{margin-bottom:5px;}/*0503*/
#main .info .data{text-align:right;}
#main .info .data span{display: block;color:#fff;}

/*section - main*/
.f_list{margin-bottom:1rem;padding:0.5rem 4rem 0.5rem 1rem;border:1px solid #dfdfdf;background-image:url('../images/board/arrow-button.png');background-size:1rem;background-repeat: no-repeat;background-position: right 1rem center;}
.f_list:after{content:"";display:block;clear:both;}
.f_list .logo{float:left;width:3rem;height:3rem;}
.f_list .logo img{width:100%;height:auto;}
.f_list .f_name{float:left;margin-left:0.5rem;font-size:1.6rem;color:#222;line-height: 3rem;}

/*section - ownerPcState*/
.ownerPcState .page-title.info{padding-top:0.5rem;padding-bottom:0.5rem;padding-left:3rem;}
.ownerPcState .page-title.info:before{bottom:0;width:3rem;height:auto;background-color:transparent;background-image: url('../images/common/img_KST.png');background-repeat: no-repeat;background-size: contain;}
.ownerPcState .page-title.info:after{content:"";display:block;clear:both;}
.ownerPcState .page-title.info div{float:left;padding:0 10px;}
.ownerPcState .page-title.info .bold{position:relative;padding-left:0;font-weight:900; }
.ownerPcState .page-title.info .bold:after{content:"";display:block;position:absolute;top:3px;right:0;bottom:3px;width:2px;background-color: #222;}
/*19.05.02수정*/
.pc_row{margin-top:1rem;}
.pc_row:after{content:"";display:block;clear:both;}
.pc_row .pc{float:left;position:relative;width:20%;padding:0.5rem;}
.pc_row .pc:before{content:"";display:block;position:absolute;top:-1px;right:-1px;bottom:0px;left:0px;border:1px solid #dfdfdf;}
.pc_row .pc:nth-child(5n):before{right:0;}
.pc_row .pc>div:not(.pc_num){display: none;}
/*2차*/
.pc_state{float:right;}
.pc_state:after{content:'';display:block;clear:both;}
.pc_state .pc_num{display:inline-block;padding-right:1.5rem;margin-left:1rem;}
.pc_state .pc_num,
.pc_row .pc .pc_num{position:relative;}
.pc_state .pc_num:after,
.pc_row .pc .pc_num:after{content:"";display: block;position:absolute;top:0;right:0;bottom:0;width:1rem;}
.pc_state .pc_num.on:after,
.pc_row .pc .pc_num.on:after{background-color: #5de932;}
.pc_state .pc_num.off:after,
.pc_row .pc .pc_num.off:after{background-color: #707070;}

.alert_wrap.pc {display: none;}
.alert_wrap.pc.active {display: block;}

.alert_wrap.pc table{line-height: 1;}
.alert_wrap.pc table tr td{padding-bottom:1rem;vertical-align: top;}
.alert_wrap.pc table tr td:first-child{position:relative;padding-left:1.5rem;}
.alert_wrap.pc table tr td:before{content:"";display: block;position:absolute;top:0;left:0;width:1rem;height:0.5rem;}
.alert_wrap.pc table tr td.all_mining:before{background-color:#4B26A0;}
.alert_wrap.pc table tr td.user_mining:before{background-color:#D9478D;}
.alert_wrap.pc table tr td.manager_mining:before{background-color:#09A7B4;}
.alert_wrap.pc table tbody tr:last-child td{padding-bottom:0;}

/*section - member info*/
#memberInfo.section{height:calc(100vh - 7.5rem);}

/*section - pwChange*/
#pwChange .input-wrap{margin-top:4rem;}

/*coin generate*/

/*section - ledger*/
#ledger{min-height:calc(100vh - 7.5rem);padding-bottom:6.4rem;}
.btn_bottom{position: absolute;right:1rem;bottom:1.5rem;left:1rem;}
.search_box{display:none;position: absolute;right: 0;bottom:0;left:0;padding:3rem 1rem 1.5rem;background-color:#fff;box-shadow: 0px 0px 9px 3px rgba(0,0,0,.2);}
.search_box .close{top:1rem;}
.search_row{margin-bottom:1.5rem;}
.search_title{margin-bottom:1.5rem;font-size: 1rem;color:#202020;}
.search_table{display: table;width:100%;}
.search_table .cell{display: table-cell;table-layout: fixed;;}
.search_box .search_input{}
.search_box .search_input:after{content:"";display: block;clear:both;}

.radio_custom label,
.check_custom label{color:#707070;font-size: 1.1rem;}
.radio_custom span,
.check_custom span{color:#202020;}
.radio_custom input[type=radio],
.check_custom input[type=checkbox]{display: none;}
.radio_custom input[type=radio]+label,
.check_custom input[type=checkbox]+label{display:inline-block;position: relative;height:2rem;line-height:2rem;padding-left:2rem;padding-right:1rem;}
.radio_custom input[type=radio]+label:before,
.check_custom input[type=checkbox]+label:before{content:"";display: block;position:absolute;top:50%;left:0;width:1.4rem;height:1.4rem;margin-top:-0.7rem;background-color:#fff;border:1px solid #707070;box-sizing: border-box;}
.radio_custom input[type=radio]+label:before{border-radius:50%;}
.check_custom input[type=checkbox]+label:before{}
.radio_custom input[type=radio]:checked +label,
.check_custom input[type=checkbox]:checked +label{}
.radio_custom input[type=radio]:checked +label:before,
.check_custom input[type=checkbox]:checked +label:before{border-width: 0.5rem;}
.search_box input[type=text]{outline:none;width:45%;padding:0.4rem;border:none;border-bottom:1px solid #707070;color:#707070;text-align:center;font-size:0.8rem;font-family: 'NanumSquare', sans-serif;}

/*section - board*/
.board{margin-top:1.24rem;margin-right:-1rem;margin-left:-1rem;}
.board ul{border-top:1px solid #E4E4E4;}
.board li{border-bottom:1px solid #E4E4E4;}
.board a{display: block;position:relative;padding:0.5rem 4rem 0.5rem 1rem; line-height: 1.6}
.board a:after{content:"";display: block;position:absolute;top:50%;right:1rem;width:1rem;height:1rem;margin-top:-0.5rem;background-image: url(../images/board/arrow-button.svg);background-size:cover;}
.board a .tit{color:#222;font-size: 1rem;}
.board a .con{color:#888;font-size: 0.8rem;line-height: 1.6;}

.board .tit_read,
.board .con_read{margin:0 1.5rem;}
.board .tit_read{margin-bottom:1.5rem;}
.board .con_read{}
.board .tit_read input,
.board .con_read textarea{outline:none;display:block;width:100%;padding:0.5rem;background-color: #F9F9F9;border:1px solid #E4E4E4;font-size:1rem;line-height: 1.6;}
.board .con_read textarea{min-height:26rem;}

/*section - balances*/
/*tab*/
.header .tab_menu{display: flex;}
.header .tab_menu .tab_tit{width:100%;height:3rem;line-height:3rem;color: #fff;text-align:center;box-sizing: border-box;;}
	.tab_tit{border-bottom:3px solid transparent;}
	.tab_tit.active{border-bottom-color:rgba(255,255,255,0.8);}
	.tab_con{display: none;}
	.tab_con.active{display: block;}
.tab_con{min-height:calc(100vh - 10rem);padding-bottom:6.4rem;}
	.tab_con .box{display: none;}
	.tab_con .box.active{display: block;}
.tab_con .no_data{height:calc(100vh - 19.4rem);padding:10rem 0;text-align:center;line-height: 1.6;color:#707070;font-size:1.1rem;}
.tab_con .box .input-box:first-child{margin-top:4rem;}
.input-box.qrcode{padding-top:2rem;border-bottom:none;}
.input-box.qrcode .qr{width:12rem;height:12rem;margin:0 auto;padding:0.5rem;border:1px solid #707070;}
.input-box.qrcode .qr img{width:100%;height:100%;}
.input-box.qrcode .caption{margin-top:1rem;color:red;text-align:center;font-size: 0.9rem;}
/*2차*/
.input-box .coin_type{font-size:0.9rem;}
.input-box .coin_type:before,
.input-box .coin_type:after{content:"";}

	/*inOut*/
.table_wrap.inOut{}
.table_wrap.inOut tr:nth-child(odd) th:last-child,
.table_wrap.inOut tr:nth-child(odd) td:nth-last-child(-n+2){border-bottom:none;}
.table_wrap.inOut table thead th{padding:0.4rem;}
.table_wrap.inOut table tbody td,
.table_wrap.inOut table tfoot td{height:1.5rem;}
.table_wrap.inOut input[type=text]{outline:none;border:none;width:100%;}
.table_wrap.inOut button{outline: none;}