@import url('nanumsquare.css');


/************************common************************/

*{margin:0;padding:0;box-sizing: border-box;}
body{font-size:16px;font-family: 'NanumSquare', sans-serif;color:#6F6F6F;}
a{text-decoration:none;}
li{list-style: none;}
button{border:none;cursor:pointer;font-size:.9rem;}
table{width:100%;border-collapse:collapse;border-spacing:0;table-layout: fixed;}

.inner{width:1200px;margin:0 auto;}
.inner:after{content:"";display:block;clear:both;}

/*text*/
.text_center{text-align: center !important;}
.text_left{text-align: left !important;}
.text_right{text-align: right !important;}
.bold{font-weight:bold !important;}
.underline{text-decoration:underline !important;}

/*float*/
.float_left{float:left;}
.float_right{float:right;}

/*button*/
button{background-color:#fff;color:#757575;}
.btn_basic{min-width:180px;height:48px;margin:24px 1rem 0;border-radius: 33px;background-color:#EBEBEB;font-size: 14px;box-shadow: 0px 3px 4px 3px rgba(0,0,0,0.2);}
.btn_mini{min-width:120px;height:36px;border-radius: 33px;background-color:#707070;color:#fff;font-size: 14px;}
.btn_bg_color01{background-color:#4B26A0 !important;color:#fff !important;}
.btn_bg_color02{background-color:#09A7B4 !important;color:#fff !important;}
.btn_bg_color03{background-color:#F3007A !important;color:#fff !important;}
.text_color01{color:#4B26A0 !important;background-color:#fff !important;}
.text_color02{color:#09A7B4 !important;background-color:#fff !important;}

/*coin_type*/
.coin_type,
.min{font-size:0.8em;text-transform:uppercase;}
.coin_type:before,
.min:before{content:"(";}
.coin_type:after,
.min:after{content:")";}

/*header*/
.header{padding-top:30px;}
.header:after{content:"";display:block;clear:both;}
.header *{font-size: 14px;}
.header .logo{float:left;height:72px;}
.header .logo a{display:block;}
.header .logo img{height:36px;margin:18px 0;}
.header .lnb{float:right;}
.lnb ul{}
.lnb ul:after{content:"";display:block;clear:both;}
.lnb li{float:left;}
.lnb li a{display: block;height:36px;margin:12px 9px 24px;padding:0px 18px;line-height: 36px;transition:all .3s ease; }
	/*header lnb func*/
	.lnb li a{background-color:#fff;color:#606060;}
	.lnb li a:hover,
	.lnb li.active a{background-color:#6E51B2;color:#fff;}
.header .notice{height:48px;background-color:#F2F2F2;border-top:3px solid #6156A3;border-bottom:1px solid #dedede;line-height:48px;color:#222;}
.header .head_banner{width:100%;height:120px;background: linear-gradient(135deg, #4B26A0 0%,#D9478D 100%);}
.header .page_path{border-top:1px solid #dedede;border-bottom:1px solid #dedede;line-height:36px;color:#777777;letter-spacing:1px;text-transform: uppercase;}
.header .page_path .inner{padding:0 1rem;border-right:1px solid #dedede;border-left:1px solid #dedede;}

/*section*/
.section_title{position:relative;margin-top:36px;padding-left:1rem;font-size: 24px;font-weight: bold;color:#222;}
.section_title:before{content:"";display:block;position:absolute;top:50%;left:0;width:10px;height:10px;margin-top:-5px;background-image:url(../images/header/section_title_style.svg);transform: rotate(45deg);}
.section_sub_title{margin-top:2.5rem;padding:5px 0;font-size:1.123rem;font-weight:bold;color:#222;}
.section input{border:none;}
.txt_con{}
.txt_con .tit{display:block;margin-top:36px;margin-bottom:16px;font-size:14px;color:rgba(0,0,0,0.5);}
.txt_con:first-child .tit{margin-top:0;}
.txt_con .input_container{display: flex;border-bottom:1px solid #707070;}
.txt_con .input_container input{outline:none;width:100%;height:36px;padding:0 1rem;margin:5px 0;line-height:36px;}
.txt_con .input_container button{margin:5px;}
.btn_box{padding:12px 0;}
.btn_box:after{content:"";display:block;clear:both;}

/*pre*/
.pre{margin-top:1rem;padding:1rem;background-color:#F2F2F2;font-size:0.8rem;}

/*table_basic*/
.table_basic{border-top:3px solid #222;}
.table_basic table{}
.table_basic th,
.table_basic td{height:40px;padding:3px 1rem;border-bottom:1px solid #E5E5E5;color:#222;font-size: 0.8rem;}
.table_basic th{background-color:#F2F2F2;font-weight:normal;}
.table_basic td{}
.table_basic .coin_type{display: block;}
.table_basic button,
.table_basic input[type=button]{padding: 5px;}
	.table_basic.board tr:hover {cursor: pointer;}
	.table_basic.board tr:hover td{background-color:#f1f1f1;}

/*pagenation*/
.pagenation{width:100%;margin-top:5rem;text-align: center;}
.pagenation .prev,
.pagenation .next,
.pagenation .page{display:inline-block;}
.pagenation .prev,
.pagenation .next{position:relative;width:1.6rem;height:1.6rem;margin:0 0.5rem;vertical-align: middle;}
.pagenation .prev:after,
.pagenation .next:after{content:"";position:absolute;top:0;border:0.8rem solid transparent;}
.pagenation .prev:after{right:0;border-right-color:#999;}
.pagenation .next:after{left:0;border-left-color:#999;}
.pagenation .page{}
.pagenation .page a{display:inline-block;width:2.5rem;height:2.5rem;font-size:1rem;line-height:2.5rem;}
	.pagenation .page a{background-color: #fff;color:#222;}
	.pagenation .page a.active{background-color:#4B26A0;color:#fff;}

/*contents_box*/
.contents_box{border-top:3px solid #222;border-bottom:1px solid #D9D9D9;}
.contents_box .head{display:flex;padding:1rem 2rem;border-bottom:1px solid #D9D9D9;font-size:1rem;color:#222;font-weight: bold;}
.contents_box .head .tit{width:100%;}
.contents_box .head .date{width:15%;font-size:0.9rem;color:#707070;text-align:right;}
.contents_box .head .date:before{content:"작성일 :";letter-spacing: 1px;}

.contents_box .body{min-height:250px;padding:2rem;font-size:0.9rem;line-height: 1.6; }
.contents_box .foot{}







/************************page************************/

/*login*/
.login_wrap{width:490px;margin:0px auto;}
/*tab*/
.login_box{margin:100px 0;}
.tab_tit_wrap{width:440px;margin:0 auto;text-align: center;}
.tab_tit_wrap:after{content:"";display: block;clear:both;}
.tab_tit{float:left;display:block;width:50%;height:54px;background-color:#fff;border:3px solid #4B26A0;line-height: 48px;box-sizing: border-box;cursor:pointer;}
.tab_con{}
	.tab_tit{}
	.tab_tit.active{background-color: #4B26A0;color:#fff;}
	.tab_con{display:none;}
	.tab_con.active{display:block;}



/*signup_verification*/
.signup_verification{width:490px;margin:100px auto;}
.signup_verification .sv_tit{font-size:1.3rem;color:#222;font-weight: bold;text-align:center;}
.signup_verification .txt_con .input_container{border:1px solid #707070;}

/*main*/
.flex_box {display: flex;}
.flex_box .box_wrap{width:100%;}
.flex_box .box{width:100%;padding:0.5rem 1rem;background-color: #F2F2F2;border:1px solid #dedede;}
.flex_box .box>div{height:1.8rem;line-height: 1.8rem;font-size: 0.9rem;text-align: right;color:#222;}
.flex_box .box .sum{background-color:#fff;}
.flex_box .box .coin_type:after,
.flex_box .box .coin_type:before{content:"";}
.flex_box .box ul{}
.flex_box .box li{height:1.8rem;line-height: 1.8rem;font-size: 0.9rem;}
.flex_box .mr1r{margin-right:1rem;}

.pc_row{margin-top:1.25rem;}
.pc_row:after{content:"";display:block;clear:both;}
.pc_row .pc{float:left;width:10%;position:relative;border:1px solid #dedede;border-right:none;font-size: 0.9rem;}
.pc_row .pc:last-child{border-right:1px solid #dedede;}
.pc_row .pc .pc_num{width:2.5rem;height:2.5rem;margin-bottom:0.5rem;background-color:#4B26A0;border-bottom-right-radius:0.5rem;color:#fff;line-height: 2.5rem;text-align:center;}
.pc_row .pc>div:not(.pc_num){position:relative;padding-right:0.5rem;padding-left:1.5rem;line-height: 1.6;text-align:right;font-size: 0.9rem;}
.pc_row .pc>div:not(.pc_num):before{content:"";display: block;position:absolute;top:50%;left:0.5rem;width:1rem;height:0.5rem;margin-top:-0.25rem;}
.pc_row .pc .all_mining{}
.pc_row .pc .all_mining:before{background-color:#4B26A0;}
.pc_row .pc .user_mining{}
.pc_row .pc .user_mining:before{background-color:#D9478D;}
.pc_row .pc .manager_mining{}
.pc_row .pc .manager_mining:before{background-color:#09A7B4;}

/*mypage*/
.account{width:880px;margin:48px auto;}
.account .account_tit{height:36px;margin-top:3rem;margin-bottom:1rem;border-bottom:1px solid #DEDEDE;font-size: 18px;color:#222;line-height: 36px;}
.account .table_type01{}
.account .table_type01 table{border:1px solid #DEDEDE;}
.account .table_type01 th,
.account .table_type01 td{height:48px;padding:0 1rem;font-size: 1rem;line-height: 48px;}
.account .table_type01 th{background-color:#F2F2F2;font-weight:normal;text-align: center;color:#222;}
.account .table_type01 td{text-align:left;color:#707070;}
.account .table_type02{}
.account .table_type02 table{}
.account .table_type02 table tr{}
.account .table_type02 th,
.account .table_type02 td{text-align:left}
.account .table_type02 th{font-weight:normal;color:#222;color:#707070;}
.account .table_type02 td{display: flex;color:#707070;}
.account .table_type02 td input[type=text],
.account .table_type02 td input[type=password]{width:100%;height:48px;margin:0.5rem 0;padding:0 1rem;border:1px solid #DEDEDE;}
.account .table_type02 td button{width:20%;margin:0.5rem 0;background-color:#707070;color:#fff;}

/*coinLedger*/
.search_bar{padding:0.5rem 0; background-color:#f2f2f2;font-size:0.9rem;color:#222;}
.search_bar .row{display:flex;}
.search_bar .row .tit{position:relative;width:15%;padding:0 1rem;line-height: 2rem;}
.search_bar .row .tit:after{content:"";display:block;position:absolute;top:5px;left:0;bottom:5px;width:1px;background-color:#E0E0E0;}
.search_bar .row .tit:first-child:after{width:0;}
.search_bar .row .txt_con {width:35%;margin:0 1rem;text-align:right; }
.search_bar .row .txt_con span{line-height: 2rem;}
.search_bar .con{display:flex;width:35%;margin:0 1rem;}
.search_bar input[type=radio],
.search_bar input[type=checkbox]{display:none;}
.search_bar label{cursor: pointer;}
.search_bar label.btn_mini{display:block;min-width:80px;height:2rem;margin-right:0.5rem;line-height: 2rem;text-align: center;}
.search_bar input[type=radio] + label{background-color:#E1E1E1;color:#4B26A0;}
.search_bar input[type=radio]:checked + label{background-color: #4B26A0;color:#fff;box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.2);}
.search_bar .datepicker_wrap {border-bottom:1px solid #4b26a0;}
.search_bar .datepicker_wrap input[type=text]{width:100%;background-color:transparent;border:none;text-align:center;outline: none;color:#707070;font-size:0.9rem;}
.search_bar .datepicker_wrap span{width:20px;line-height: 2rem;}


/*balances*/
/*balances-tab*/
.tab_wrap{display:flex;position:relative;margin-top:2.25rem;/*width:100%;table-layout:fixed;*/}
.tab_wrap:after{content:"";display:block;clear:both;}
.tab_name{position:absolute;width:33.33%;height:3rem;background-color:#F2F2F2;border:1px solid #E4E4E4;border-bottom:2px solid #6E51B2;line-height:3rem;text-align:center;box-sizing: border-box;color:#222;cursor:pointer;}
.tab_name:nth-of-type(1){left:0%;}
.tab_name:nth-of-type(3){left:33.33%;}
.tab_name:nth-of-type(5){left:66.66%;}
.tab_name.active{background-color:#fff;border:2px solid #6E51B2;border-bottom-color:transparent;}
.tab_content{width:100%;padding:4rem 0;}
	.tab_wrap .tab_name + .tab_content{display:none;}
	.tab_wrap .tab_name.active + .tab_content{display: block;}
	.tab_content .box{display: none;}
	.tab_content .box.active{display: block;}
/*balances-txt_con*/	
.section .txt_con{margin-top:3rem;}
.section .txt_con .tit{}
.section .txt_con .input_container.border_none{border-bottom:none;}
.section .txt_con .qrcode{width:250px;height:250px;border:1px solid #707070;}
.section .txt_con .qrcode img{width:100%;}
.section .txt_con .caption{margin-top:0.5rem;font-size: 0.9rem;color:#FF0000;}
.section .txt_con .caption:before{content:"*";}
.section .txt_con button{border-radius:0;}
/**/
.no_data{height:300px;line-height: 300px;text-align:center;font-size: 1rem;color:#222; }



/*footer*/
.footer{width:100%;height:200px;}

